/* Excalidraw internal layout overrides */
.excalidraw .App-menu_top .buttonList {
  display: flex;
}

:root[dir="ltr"]
  .excalidraw
  .layer-ui__wrapper
  .zen-mode-transition.App-menu_bottom--transition-left {
  transform: none;
}
